<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Login</h3>
    <button type="button" class="close"  aria-hidden="true" ng-click="loginpasswordCancel();">&times;</button>
</div>
<div class="modal-body" id="modal-body">
    <form id="login_form" name="login_form">
        <div class="form-group">
            <div class="pull-left" ng-if="loginSuccess==1">
                <span class="label label-success" >Thank You.</span>
            </div>
            <input type="email" class="form-control emailid hidden" id="emailid"  name="emailid" placeholder="Enter Password" ng-model="user.emailid" value="{{loginemail}}" ng-init="user.emailid=loginemail" required> 
            <input type="password" class="form-control password" id="password"  name="password" placeholder="Enter Password" ng-model="user.password" required> 
            <div class="pull-right" ng-repeat="(field,value) in login_form.password.$error" ng-show="login_form.password.$touched">
                <span class="label label-danger" ng-if="value">Please Enter Password</span>
            </div>
            
            
            <div class="pull-right"  ng-if="loginautherror==-1">
                <span class="label label-danger">Invalid Password,Please Try Again</span>
            </div>
            
            <input class="form-control" id='loginsubmit' type="submit" name="loginsubmit" ng-disabled="login_form.$invalid"  class="btn btn-primary btn-lg btn-block" value="Submit" ng-click="loginsubmit(user.emailid,user.password);">
        </div>
    </form>
</div>
<div class="modal-footer hidden">
    <button class="btn btn-primary" type="button" ng-click="">OK</button>
    <button class="btn btn-warning" type="button" ng-click="">Cancel</button>
</div>